* {

	box-sizing: border-box;
	-moz-box-sizing: border-box;
	margin: 0;
	padding: 0;

}

body {

	min-width: 320px;

}

.image-container {

	float: left;
	width: 100%;
	clear: both;

	img {

		float: left;
		width: 12.5%;
		height: auto;
		border-top: 1px solid #afafaf;
		border-right: 1px solid #afafaf;

		@media screen and (max-width : 1000px) {

			width: 20%;

		}

		@media screen and (max-width : 650px) {

			width: 33.3%;

		}

		@media screen and (max-width : 400px) {

			width: 50%;

		}

		@media screen and (max-width : 320px) {

			width: 100%;

		}

	}

}

.pll {

	float: left;
	height: 200px;
	width: 12.5%;

	@media screen and (max-width : 1000px) {

		width: 20%;

	}

	@media screen and (max-width : 650px) {

		width: 33.3%;

	}

	@media screen and (max-width : 400px) {

		width: 50%;

	}

	@media screen and (max-width : 320px) {

		width: 100%;

	}

	&.loading {

		background: url('../img/loader.gif') center no-repeat;

	}

}

.iLU__overlay {

	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	background: rgba(0, 0, 0, 0.5);
	opacity: 0;
	z-index: -1;

	-webkit-transition: 0.25s;
	-moz-transition: 0.25s;
	transition: 0.25s;

	-webkit-transform: scale(0.95);

	&.active {

		z-index: 100;
		opacity: 1;
		-webkit-transform: scale(1.0);

	}

}

.iLU__popup {

	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	z-index: 101;
	width: 50%;

	img {

		float: left;
		width: 100%;

	}

}